body{
	margin: 0px;
}
#map{
		width: auto;
		height: 100%;
		display: inline-block;
}
svg{
	height: 50px;
	width: 50px;
	display: inline-block;
	position: absolute;
}
svg circle:hover :not(.ward){
	fill:yellow;
}
.ward:hover{
	fill: orange;
}
.chat > div{
	margin-left: 7.1px;
	float:left;
}