<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"> 
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.27.2"></script>

	<style type="text/css">
	#maindiv{
		display: inline-block;
		width: 500px;
		height: 500px;
		background-image: url("{{ STATIC_URL }}images/map.png"); 
		background-size: 100%;
	}
	path {
	  fill-rule: evenodd;
	  fill: #fff;
	  fill-opacity: .7;
	  stroke: #666;
	  stroke-width: 1px;
	}
	.exit g path{
		fill: #000 !important;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/positions.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
	<div id="sidebar">
		<p class="ward_title"> WARDS, Click to Drag</p>
		<div class="chat" ></div>
	</div>

	<div id="maindiv">
		<div class="purple inhibs">
			<svg id="top-purple-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg > 
			<svg id="mid-purple-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
			<svg id="bot-purple-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
		</div>
		<div class="blue inhibs">
			<svg id="top-blue-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg > 
			<svg id="mid-blue-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
			<svg id="bot-blue-inhib" class="inhib" >
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
		</div>
		<div class="purple buffs">
			<svg id="purple-blue" class="blue">
		  		<circle cx="15" cy="15" r="15" fill="blue"/>
			</svg > 
			<svg id="purple-red" class="red">
		  		<circle cx="15" cy="15" r="15" fill="darkred"/>
			</svg> 
		</div>
		<div class="blue buffs">
			<svg id="blue-blue" class="blue">
		  		<circle cx="15" cy="15" r="15" fill="blue"/>
			</svg > 
			<svg id="blue-red" class="red">
		  		<circle cx="15" cy="15" r="15" fill="darkred"/>
			</svg> 
		</div>
		<div class="global">
			<svg id="dragon">
		  		<circle cx="15" cy="15" r="15" fill="orange"/>
			</svg > 
			<svg id="baron">
		  		<circle cx="15" cy="15" r="15" fill="orange"/>
			</svg> 
		</div>
		<div class="wards green" >
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
		</div>
		<div class="wards pink" >
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
		</div>
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/speech.js"></script>

</body>
</html>