<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"> 
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.27.2"></script>

	<style type="text/css">
	#maindiv{
		display: inline-block;
		width: 500px;
		height: 500px;
		background-image: url("{{ STATIC_URL }}images/map.png"); 
		background-size: 100%;
	}
	path {
	  fill-rule: evenodd;
	  fill: #fff;
	  fill-opacity: .7;
	  stroke: #666;
	  stroke-width: 1px;
	}
	.exit g path{
		fill: #000 !important;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/positions.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}js/canvas.js"></script>
</head>
<body>
	<div id="sidebar">
		<p class="ward_title"> WARDS, Click to Drag</p>
		<div class="chat" >
			<br />
		    <input type="button" id="switchbutton" name="switchbutton" value="Toggle Drawing/Timing" onclick="switchView()">	<br />		
			<br />
		    <div style="position:relative;"><b>Choose Color</b></div><br /><br />
		    <div style="position:relative;width:10px;height:10px;background:green;" id="green" onclick="color(this)"></div>
		    <div style="position:relative;width:10px;height:10px;background:blue;" id="blue" onclick="color(this)"></div>
		    <div style="position:relative;width:10px;height:10px;background:red;" id="red" onclick="color(this)"></div>
		    <div style="position:relative;width:10px;height:10px;background:yellow;" id="yellow" onclick="color(this)"></div>
		    <div style="position:relative;width:10px;height:10px;background:orange;" id="orange" onclick="color(this)"></div>
		    <div style="position:relative;width:10px;height:10px;background:black;" id="black" onclick="color(this)"></div>
		    <div style="position:relative;width:10px;height:10px;background:white;" id="white" onclick="color(this)"></div>
		    <img id="canvasimg" style="position:relative;top:10%;left:52%;" style="display:none;">

		    <br />
		    <input type="range" id="brushsize" name="points" min="1" max="25" onclick="range(this)"><br />
		    <br />
		    <input type="button" id="resetbutton" name="resetbutton" value="Clear Drawings" onclick="DoClear()">
		    <p/>  LINK: {% url 'home2' uid %}
		</div>
	</div>

	<div id="maindiv">
		<div class="purple inhibs">
			<svg id="top-purple-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg > 
			<svg id="mid-purple-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
			<svg id="bot-purple-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
		</div>
		<div class="blue inhibs">
			<svg id="top-blue-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg > 
			<svg id="mid-blue-inhib" class="inhib">
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
			<svg id="bot-blue-inhib" class="inhib" >
		  		<circle cx="15" cy="15" r="15" fill="purple"/>
			</svg> 
		</div>
		<div class="purple buffs">
			<svg id="purple-blue" class="blue">
		  		<circle cx="15" cy="15" r="15" fill="blue"/>
			</svg > 
			<svg id="purple-red" class="red">
		  		<circle cx="15" cy="15" r="15" fill="darkred"/>
			</svg> 
		</div>
		<div class="blue buffs">
			<svg id="blue-blue" class="blue">
		  		<circle cx="15" cy="15" r="15" fill="blue"/>
			</svg > 
			<svg id="blue-red" class="red">
		  		<circle cx="15" cy="15" r="15" fill="darkred"/>
			</svg> 
		</div>
		<div class="global">
			<svg id="dragon">
		  		<circle cx="15" cy="15" r="15" fill="orange"/>
			</svg > 
			<svg id="baron">
		  		<circle cx="15" cy="15" r="15" fill="orange"/>
			</svg> 
		</div>
		<div class="wards green" >
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="green" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="green"/>
			</svg > 
		</div>
		<div class="wards pink" >
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
			<svg class="ward" draggable="true" >
		  		<circle class="range" cx="25" cy="25" r="25" fill="pink" opacity="0.5"/>
		 		<circle class="center" cx="25" cy="25" r="5" fill="pink"/>
			</svg > 
		</div>
	</div>
    <canvas id="can" width="500" height="500" style="position:absolute;top:0%;left:0%;border:2px solid;"></canvas>

	<script type="text/javascript" src="{{ STATIC_URL }}js/timer.js"></script>

<!--<style>
    #wrap { width: 1400px; height: 600px;padding: 0; position:relative; overflow: hidden; }
    #frame { width: 1349px; height: 600px; position:relative; }
    #frame { -ms-zoom: 0.56; -moz-transform: scale(0.56); -moz-transform-origin: 0px 0; -o-transform: scale(0.56); -o-transform-origin: 0 0; -webkit-transform: scale(0.56); -webkit-transform-origin: 0 0; }
</style>
<div id="wrap">
    <iframe id="frame" src="http://www.lolteam.net/game/Dyrus"></iframe>
</div>
-->
</body>
</html>